<%# REMODELING SERVICES%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="./css/stylePg4.css" rel="stylesheet">
    <title>Services</title>
</head>
<body>
    <div class="container">
        <h1>Servicios de Remodelación de Casa</h1>

        <div class="service">
            <div class="image-placeholder"> 
                <img src="/pics/carpintero.jpeg" alt="" class="image1"></div>
            <h2>Carpentry service</h2>
            <p>If you need a carpenter for the house of your dreams, contact him here</p>
        </div>

        <div class="service">
            <div class="image-placeholder"> <img src="/pics/pintor.png" alt="" class="image2"></div>
            <h2>Painter</h2>
            <p>If you need a painter for your dream home, contact him here</p>
        </div>

        <div class="service">
            <div class="image-placeholder"> <img src="/pics/plomero.jpeg" alt="" class="image3"></div>
            <h2>Plumber</h2>
            <p>If you need a plumber for the house of your dreams, contact him here</p>
        </div>

    </div>
    
</body>
</html>



<%# AQUI VAN LOS SERVICIOS %>
