<%# REMODELING SERVICES%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="./css/stylePg4.css" rel="stylesheet">
    <title>Services</title>
</head>
<body>
    <div class="container">
        <h1>Servicios de Remodelación de Casa</h1>

        <div class="service">
            <div class="image-placeholder">Insert image here</div>
            <h2>Servicio 1</h2>
            <p>The description will be here.</p>
        </div>

        <div class="service">
            <div class="image-placeholder">Insert image here</div>
            <h2>Servicio 2</h2>
            <p>The description will be here.</p>
        </div>

        <div class="service">
            <div class="image-placeholder">Insert image here</div>
            <h2>Servicio 3</h2>
            <p>The description will be here.</p>
        </div>

    </div>
    
</body>
</html>



<%# AQUI VAN LOS SERVICIOS %>