<%# SELECTED HOUSE DETAILS%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="./css/styleHouse.css" rel="stylesheet">
    <title>Details</title>
</head>
<body>
    <header class="header">
        <h1 id="house-name">The house of your dreams</h1>
    </header>

    <section class="house-details">
        <div class="house-image" id="house-image">
            <img src="/pics/house1.jpeg" alt="" class="image1">
            <img src="/pics/house2.jpg" alt="" class="image2">
            <img src="/pics/house3.jpeg" alt="" class="image3">
            <img src="/pics/house4.jpeg" alt="" class="image4">
        </div>
        <p id="house-description">You selected this house as potentially your house of your dreams, if you are your sure this is click here to buy it.</p>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 House Search</p>
            <img src="/pics/Black White Simple House Logo.svg" alt="Logo" style="width: 150px;">
        </div>
    </footer>
    

<%# AQUI VA LO RELACIONADO A LOS DETALLES DE LA CASA 
QUE SE SELECCIONA EN LA 2DA PAGINA %>
