  <%# CATALOG %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="./css/styleCatalog.css" rel="stylesheet">
    <title>Catalog</title>
</head>
<body>
    <header class="header">
        <h1>House Catalog</h1>
        <p>Here are the available houses in your area</p>
    </header>



    
    <section class="catalog">
        <div class="house-item">
            <div class="house-image">
                Insert an image of a house here
            </div>
            <h2 class="house-name">Modern Villa</h2>
            <p class="house-description">Luxurious and spacious.</p>
            <a href="/house">View Details</a>
        </div>

        <div class="house-item">
            <div class="house-image">
                Insert an image of a house here
            </div>
            <h2 class="house-name">Cozy Cottage</h2>
            <p class="house-description">A quiet place for families.</p>
            <a href="/house">View Details</a>
        </div>

        <div class="house-item">
            <div class="house-image">
                Insert an image of a house here
            </div>
            <h2 class="house-name">Urban Apartment</h2>
            <p class="house-description">Centrally located apartment.</p>
            <a href="/house">View Details</a>
        </div>

        <div class="house-item">
            <div class="house-image">
                Insert an image of a house here
            </div>
            <h2 class="house-name">Beachfront Property</h2>
            <p class="house-description">Oceanfront view.</p>
            <a href="/house">View Details</a>
        </div>

        <div class="house-item">
            <div class="house-image">
                Insert an image of a house here
            </div>
            <h2 class="house-name">Mountain Retreat</h2>
            <p class="house-description">Peaceful and secluded.</p>
            <a href="/house">View Details</a>
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2024 House Search</p>
    </footer>
    
</body>
</html>



<%# AQUI VA TODO LO QUE SE DEBE VER EN LA SEGUNDA PAGINA, 
ES EL CATALOGO DE CASAS  %>