
.header {
    text-align: center;
    margin-bottom: 60px; 
}



.header h1 {
    font-size: 48px; 
    color: #ffffff; 
}

.btn-me{
    background-color: #8C52FF;
}
  

.input-group {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .input-group .form-control {
    border-radius: 30px 0 0 30px;
    padding: 28px 32px;
    font-size: 16px;
  }
  
  .input-group .btn {
    border-radius: 0 30px 30px 0;
    background-color: #8C52FF;
    color: #ffffff;
    padding: 15px 20px;
  }
  
  .input-group .btn:hover {
    background-color: #7857bc;
  }
  

.header p {
    font-size: 18px; 
    color: #dddddd; 
    margin-top: 10px;
}


.catalog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}


.house-item {
    background-color: #ffffff; 
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.house-image {
    background-color: #8C52FF; 
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.house-description {
    font-size: 16px;
    color: #333333; 
}


.footer {
    text-align: center;
    margin-top: 60px; 
    font-size: 14px;
}

.footer p {
    color: #666666; 
}

.image1,
.image2,
.image3,
.image4,
.image5,
.Logo {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .catalog {
        flex-direction: column; 
        align-items: center; 
    }

    .house-item {
        width: 90%;
    }
}

